<%- include('include/_header')%>

<%- include('include/_sideBar')%>

            
<div class="main">
    <div class="container">
              
        <div class="row">
            <div class="col-md-12">
             
                <div class="container my-5">
                    <h2 class="mb-4">Update Category</h2>

                    <!-- <form  > -->
                        <h6 id="error" style="color: red;"></h6>
                        <div class="form-group row">
                            <label for="product_name" class="col-sm-2 col-form-label">Category Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="category_name" name="product_name"   value="<%= name%>">
                            </div>
                        </div>
                        
                        <input type="text" class="form-control" id="id" name=""  hidden  value="<%= id %>">

                        <div class="form-group row">
                            <div class="col-sm-10 offset-sm-2">
                                <button onclick="update_Category()"  type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Update</button>
                            </div>
                        </div>
                    <!-- </form> -->
                </div>


            </div>
          </div>
  
    </div>
  </div>
  <script>
    const category_name=document.querySelector('#category_name')
    const category_id=document.querySelector('#id')

    function update_Category(){

    fetch('http://localhost:3000/admin/update_category',{
        method:'PUT',
        headers:{
            'Content-Type':'application/json'
        },
        body:JSON.stringify({
            name:category_name.value,
            id:category_id.value
        })
    }).then(response=>response.json().then(data=>{

        if(response.ok){
            swal.fire({
              title: 'Success',
              text: data.message,
              icon: 'success',
              confirmButtonText: 'OK'
              }).then(result=>{
              if(result.isConfirmed){
               window.location.href='/admin/view_category'
              }
              });
        }else{
            document.querySelector('#error').innerHTML=data.message
        }
        
    }).catch(err=>{
        alert(err)
    }))
    }
</script>
            

<%- include('include/_adminFooter')%>